.h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  color: #00F;
  font-weight: normal;
  font-variant: normal;
  line-height: normal;
}

.h2 {
  color: #FFF;
  background-color: #09F;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9px;
  word-spacing: 5px;
}

.h3 {
  background-color: #03F;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  color: #FFF;
  text-align: center;
}

.h4 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  text-align: center;
}

.h5 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
}

a {
  text-decoration: none;
}

/* Button für das Formular */
input[type=submit] {
  background-color: #0077cc; /
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;     
  cursor: pointer;        
}

input[type=submit]:hover {
  background-color: #005fa3; 
}



.h2 a, .h3 a {
  transition: color 0.3s ease, transform 0.2s ease, text-shadow 0.3s ease;
}

.h2 a:hover, .h3 a:hover {
  color: #FFD700; 
  transform: scale(1.2); 
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5); 
}


.h2 a.active, .h3 a.active {
  color: #FFD700; 
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5); 
  transform: scale(1.2); 
}